@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.meet_area{

 }

 .screen_1 {
    width: 800px;
    height: 80vh;
    background-color: #333;
    margin: auto;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.screen_2 {
    width: 200px;
    height: 200px;
    background: black;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    display: none;
    overflow: hidden;
}

 .controls {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    background: red;
    border: navajowhite;
    color: #fff;
    margin: 0px 5px;
    border-radius: 50%;
}

.controls button.active{
    background: white;
    color: #000;
}

video#s1 {
    width: 100%;
}



